
data/*
results/*
builds/*
logs/*

!data/.gitkeep
!results/.gitkeep
!builds/.gitkeep
!logs/.gitkeep


*.dat

hyperbench
hyerchain.so
src/ViDB/hyperbench3
run_chain_simple.sh
run_chain_evm.sh
archive.md